.grid.grid-rows-auto.justify-items-center.mt-10.shadow-card.mx-auto.py-5.rounded-md{class:"w-1/3"}
  .font-bold.text-xl
    Edit event:
  = form_with model: @event, html: {class: "mt-3"} do |f|
    = render "devise/shared/error_messages", resource: @event
    .field
      = f.label :title
      %br/
      = f.text_field :title, autofocus: true, autocomplete: "title", class: "px-2 border-2 rounded-md"
    .field
      = f.label :description
      %br/
      = f.text_area :desc, class: "px-2 border-2 rounded-md"
    .field
      = f.label :date
      %br/
      = f.date_field :date, class: "px-2 border-2 rounded-md"
    .actions
      = f.submit "Update", class: "cursor-pointer px-3 py-1 rounded-md mt-2 hover:bg-gray-200"