.bg-gray-200.h-20.grid.items-center.grid-cols-2
  .text-4xl.italic.ml-5
    = link_to "Private Events", root_url
  .flex.gap-10.ml-auto.mr-10
    - if user_signed_in?
      = link_to current_user.email, user_path(id: current_user.id)
      = link_to "Sign out", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign in", new_user_session_path
      = link_to "Sign up", new_user_registration_path